.last-step .sub-title-bg-color{
  background-color: #e5e5e5;
}

.last-step .grey-bg-color{
  background-color: #b1b1b1;
}

.last-step .action-icons{
    color: rgba(61,61,61,.49);
}

.table tbody tr:last-child td, .table tbody tr:last-child th{
  border-top-width: 0px !important;
}