<div class="column px-5">
  <div class="columns is-multiline">
    <div
      class="
        column
        text
        has-text-left
        is-family-primary is-size-6-desktop is-size-7-tablet
        has-text-weight-medium has-text-black-bis
      "
    >
      By: {{ RemarkData?.name }}
    </div>
    <div
      class="
        column
        text
        has-text-right
        is-family-primary is-size-6-desktop is-size-7-tablet
        has-text-weight-medium has-text-black-bis
      "
    >
      {{ RemarkData?.created_at }}
    </div>
  </div>
</div>
<hr class="hor-line1 mx-5 my-1" />
<div
  class="
    column
    text
    has-text-left
    is-family-primary is-size-6-desktop is-size-7-tablet
    has-text-weight-medium has-text-black-bis
    px-5
  "
>
  {{ RemarkData?.remark }}
</div>
