<div
  class="
    column
    is-11-desktop
    is-10-tablet
    is-12-mobile
    is-three-quarters-mobile
    is-pulled-left
    pl-2
    pr-4
    pt-3
  "
>
  <div
    class="section has-background-white pl-2"
    style="border-radius: 13px; padding-bottom: 60px"
  >
    <div class="columns is-mobile">
      <div class="px-2 pt-0" style="width: 35px">
        <figure class="image is-32x32">
          <img
            class="is-rounded"
            src="/assets/images/profile/ContactDetails/ContactDetails.png"
          />
        </figure>
        <div class="divider is-vertical is-info"></div>
        <figure class="image is-32x32">
          <img
            class="is-rounded"
            src="/assets/images/profile/ContactDetails/PhoneNumber.png"
          />
        </figure>
        <div class="divider is-vertical is-info"></div>
        <figure class="image is-32x32">
          <img
            class="is-rounded"
            src="/assets/images/profile/ContactDetails/MobileNumber.png"
          />
        </figure>
        <div class="divider is-vertical is-info"></div>
        <figure class="image is-32x32">
          <img
            class="is-rounded"
            src="/assets/images/profile/ContactDetails/AddressDetails.png"
          />
        </figure>
      </div>
      <div
        class="
          column
          is-one-third-desktop is-one-third-tablet is-one-quarter-mobile
          px-2
          pt-1
          pb-5
        "
      >
        <span
          class="
            is-family-primary
            has-text-weight-medium has-text-left has-text-black-ter
            is-size-6
            px-2
          "
          >Contact Details
        </span>
        <span
          class="
            is-family-primary
            has-text-weight-semibold has-text-left has-text-dark
            is-size-6 is-block
            pb-5
            px-2
          "
        >
        </span>

        <span
          class="
            is-family-primary
            has-text-weight-medium has-text-left has-text-black-ter
            is-size-6
            px-2
          "
          >Phone Number
        </span>
        <span
          class="
            is-family-primary
            has-text-weight-semibold has-text-left has-text-dark
            is-size-6 is-block
            pb-5
            px-2
          "
          >{{ StudentMetaData.phone_number }}
        </span>

        <span
          class="
            is-family-primary
            has-text-weight-medium has-text-left has-text-black-ter
            is-size-6
            px-2
          "
          >Mobile Number
        </span>
        <span
          class="
            is-family-primary
            has-text-weight-semibold has-text-left has-text-dark
            is-size-6 is-block
            pb-5
            px-2
          "
        >
          {{ StudentMetaData.mobile_number }}
        </span>

        <span
          class="
            is-family-primary
            has-text-weight-medium has-text-left has-text-black-ter
            is-size-6
            px-2
          "
        >
          Address Details
        </span>
        <span
          class="
            is-family-primary
            has-text-weight-semibold has-text-left has-text-dark
            is-size-6 is-block
            px-2
          "
          >{{ StudentMetaData.address }}
        </span>
      </div>
      <div class="px-2 pt-0" style="width: 35px">
        <figure class="image is-32x32">
          <img
            class="is-rounded"
            src="/assets/images/profile/ContactDetails/Country.png"
          />
        </figure>
        <div class="divider is-vertical is-info"></div>
        <figure class="image is-32x32">
          <img
            class="is-rounded"
            src="/assets/images/profile/ContactDetails/Province.png"
          />
        </figure>
        <div class="divider is-vertical is-info"></div>
        <figure class="image is-32x32">
          <img
            class="is-rounded"
            src="/assets/images/profile/ContactDetails/District.png"
          />
        </figure>
        <div class="divider is-vertical is-info"></div>
        <figure class="image is-32x32">
          <img
            class="is-rounded"
            src="/assets/images/profile/ContactDetails/City.png"
          />
        </figure>
      </div>
      <div
        class="
          column
          is-one-third-desktop is-one-third-tablet is-one-quarter-mobile
          px-2
          pt-1
          pb-5
        "
      >
        <span
          class="
            is-family-primary
            has-text-weight-medium has-text-left has-text-black-ter
            is-size-6
            px-2
          "
        >
          Country
        </span>
        <span
          class="
            is-family-primary
            has-text-weight-semibold has-text-left has-text-dark
            is-size-6 is-block
            pb-5
            px-2
          "
          >{{ StudentMetaData.country }}
        </span>

        <span
          class="
            is-family-primary
            has-text-weight-medium has-text-left has-text-black-ter
            is-size-6
            px-2
          "
          >Province
        </span>
        <span
          class="
            is-family-primary
            has-text-weight-semibold has-text-left has-text-dark
            is-size-6 is-block
            pb-5
            px-2
          "
          >{{ StudentMetaData.province }}</span
        >

        <span
          class="
            is-family-primary
            has-text-weight-medium has-text-left has-text-black-ter
            is-size-6
            px-2
          "
          >District
        </span>
        <span
          class="
            is-family-primary
            has-text-weight-semibold has-text-left has-text-dark
            is-size-6 is-block
            pb-5
            px-2
          "
        >
          {{ StudentMetaData.district }}</span
        >

        <span
          class="
            is-family-primary
            has-text-weight-medium has-text-left has-text-black-ter
            is-size-6
            px-2
          "
        >
          City
        </span>
        <span
          class="
            is-family-primary
            has-text-weight-semibold has-text-left has-text-dark
            is-size-6 is-block
            px-2
          "
          >{{ StudentMetaData.city }}
        </span>
      </div>

      <div class="px-2 pt-0" style="width: 35px">
        <figure class="image is-32x32">
          <img
            class="is-rounded"
            src="/assets/images/profile/ContactDetails/Building.png"
          />
        </figure>
        <div class="divider is-vertical is-info"></div>
        <figure class="image is-32x32">
          <img
            class="is-rounded"
            src="/assets/images/profile/ContactDetails/Floor.png"
          />
        </figure>
      </div>
      <div class="column px-2 pt-1 pb-5">
        <span
          class="
            is-family-primary
            has-text-weight-medium has-text-left has-text-black-ter
            is-size-6
            px-2
          "
        >
          Building
        </span>
        <span
          class="
            is-family-primary
            has-text-weight-semibold has-text-left has-text-dark
            is-size-6 is-block
            pb-5
            px-2
          "
          >{{ StudentMetaData.building}}
        </span>
        <span
          class="
            is-family-primary
            has-text-weight-medium has-text-left has-text-black-ter
            is-size-6
            px-2
          "
          >Floor
        </span>
        <span
          class="
            is-family-primary
            has-text-weight-semibold has-text-left has-text-dark
            is-size-6 is-block
            pb-5
            px-2
          "
          >{{ StudentMetaData.floor}}</span
        >
      </div>

      <!--  </div> 
          </div> -->
    </div>

    <div
      class="section has-background-white pl-2"
      style="border-radius: 13px"
    ></div>
  </div>
</div>
