<div class="column is-12 is-full has-background-white">
  <div class="columns is-multiline is-mobile mb-0">
    <div
      class="
        column
        is-12-mobile is-6-desktop is-7-tablet is-7-widescreen is-8-fullhd my-3
      "
    >
      <span
        class="
          is-inline-block is-inline-block is-family-primary
          has-text-weight-medium has-text-black-bis
          is-size-6 is-size-7-mobile
        "
        >{{LOItem.description}}</span
      >
    </div>
    <div class="column is-12-mobile is-2-desktop my-3">
      
      <progress
      matTooltip = "{{LOItem.value}}"
      *ngIf = "loEvaluation(LOItem.value) == 1"
        class="progress is-success is-large"
        value="{{LOItem.value}}"
        max="100"
      ></progress>
  
      <progress
      matTooltip = "{{LOItem.value}}"
      *ngIf = "loEvaluation(LOItem.value) == 2"
        class="progress is-warning is-large"
        value="{{LOItem.value}}"
        max="100"
      ></progress>
  
      <progress
      matTooltip = "{{LOItem.value}}"
      *ngIf = "loEvaluation(LOItem.value) == 3"
        class="progress is-danger is-large "
        value="{{LOItem.value}}"
        max="100"
      ></progress>
    </div>
    <div class="column is-12-mobile has-text-right my-3">
      <div class="control">
        <button
          class="button is-outlined has-background-info is-medium"
          style=""
          (click) = "viewContent(LOItem)"
        >
          <span
            class="
              btn-return
              has-text-white has-text-weight-bold
              is-size-7
              ml-1
              px-3
            "
            >Improve my Performance</span
          >
        </button>
      </div>
    </div>
  </div>
  <hr class="hr-line1" />
</div>
