<tr>
  <td
    class="
      td-users
      is-family-primary
      has-text-weight-normal has-text-black-bis
      py-5
      pl-6
    "
  >
    Exam 1
  </td>
  <td
    class="
      td-users
      is-family-primary
      has-text-weight-normal has-text-black-bis
      py-5
    "
  >
    Mathematics
  </td>
  <td
    class="
      td-users
      is-family-primary
      has-text-weight-normal has-text-black-bis
      py-5
    "
  >
    19/08/2021 9:00 AM
  </td>
  <td
    class="
      td-users
      is-family-primary
      has-text-weight-normal has-text-black-bis
      py-5
    "
  >
    19/08/2021 12:00 PM
  </td>
  <td
    class="
      td-users
      is-family-primary
      has-text-weight-normal has-text-black-bis
      py-5
    "
  >
    20 mins
  </td>
  <td
    class="
      td-users
      is-family-primary
      has-text-weight-normal has-text-warning
      py-5
    "
  >
    Pending
  </td>
  <td
    class="td-users is-family-primary has-text-weight-bold has-text-info py-5"
  >
    Resume
  </td>
</tr>
