<div class="section is-large has-background-white py-5 px-5 lesson-plan" style="border-radius: 13px;">
    <mat-stepper linear #stepper [orientation]="(stepperOrientation | async)!">
        <mat-step [completed]="step>0">
            <ng-template matStepLabel>
                <button (click)="onStepChange(0)"
                    class="button is-info is-outlined is-large is-fullwidth p-0 {{step === 0 ? 'selected-step' : ''}}">
                    <span
                        class="is-size-5-mobile is-size-7-tablet is-size-6-desktop is-size-6-widescreen  is-family-primary has-text-weight-semibold  pl-0 mr-0">
                        1- Create Lesson Plan</span></button>
            </ng-template>
            <app-step-one [toStepTwo]="toStepTwo.asObservable()" (validFormOne)="validateFormOne($event)">
            </app-step-one>
        </mat-step>

        <mat-step [completed]="step>1">
            <ng-template matStepLabel>
                <button (click)="onStepChange(1)"
                    class="button is-info is-outlined is-large is-fullwidth p-0 {{step === 1 ? 'selected-step' : ''}}">
                    <span
                        class="is-size-5-mobile is-size-7-tablet is-size-6-desktop is-size-6-widescreen  is-family-primary has-text-weight-semibold  pl-0 mr-0">
                        2- Select Learning Standards</span></button>
            </ng-template>
            <app-step-two *ngIf="formOneValid" [toStepThree]="toStepThree.asObservable()"
                (validFormTwo)="validateFormTwo($event)">
            </app-step-two>
        </mat-step>

        <mat-step [completed]="step>2">
            <ng-template matStepLabel>
                <button (click)="onStepChange(2)"
                    class="button is-info is-outlined is-large is-fullwidth p-0 {{step === 2 ? 'selected-step' : ''}}">
                    <span
                        class="is-size-5-mobile is-size-7-tablet is-size-6-desktop is-size-6-widescreen  is-family-primary has-text-weight-semibold  pl-0 mr-0">
                        3- Create Sub-Titles</span></button>
            </ng-template>
            <app-step-three *ngIf="formTwoValid" [toStepFour]="toStepFour.asObservable()"
                (validFormThree)="validateFormThree($event)">
            </app-step-three>
        </mat-step>

        <mat-step [completed]="step>3">
            <ng-template matStepLabel>
                <button (click)="onStepChange(3)"
                    class="button is-info is-outlined is-large is-fullwidth p-0 {{step >=3  ? 'selected-step' : ''}}">
                    <span
                        class="is-size-5-mobile is-size-7-tablet is-size-6-desktop is-size-6-widescreen  is-family-primary has-text-weight-semibold  pl-0 mr-0">
                        4- Preview and Generate Settings</span></button>
            </ng-template>
            <app-step-four *ngIf="formThreeValid" [toPdf]="toPdf.asObservable()" [toDraft]="toDraft.asObservable()"
                [generatePreview]="generatePreview.asObservable()"
                (goToStep)="onStepChange($event)">
            </app-step-four>
        </mat-step>

        <mat-step [completed]="step>4">
            <app-last-step *ngIf="previewValid"></app-last-step>
        </mat-step>
    </mat-stepper>



    <!--action buttons-->
    <div class="columns is-desktop px-2 py-2">
        <div class="column has-text-right">
            <span class="is-inline-block has-text-info is-family-primary has-text-weight-bold is-size-6 px-3 py-3">Step
                {{(step+1) > 4 ? 4 : (step+1)}} of 4</span>
        </div>
        <div class="column is-2-desktop" *ngIf="step===1">
            <button class="button is-outlined  has-background-white is-fullwidth is-medium" (click)="cancel()">
                <span class="btn-return has-text-info has-text-weight-bold is-size-6 ml-1 px-6">Cancel</span></button>
        </div>
        <div class="column is-3-desktop" *ngIf="step===2">
            <button (click)="addNewSubtitle()" class="button is-outlined  has-background-info is-fullwidth is-medium">
                <span class="btn-return has-text-white has-text-weight-bold is-size-6 ml-1 px-2">Add New
                    Sub-Title</span></button>
        </div>
        <div class="column is-2-desktop" *ngIf="step<3">
            <button class="button is-outlined  has-background-info is-fullwidth is-medium" (click)="nextStep()">
                <span class="btn-return has-text-white has-text-weight-bold is-size-6 ml-1 px-6">Next</span></button>
        </div>
        <div class="column is-2-desktop" *ngIf="step===3">
            <button (click)="saveDraft()" class="button is-outlined  has-background-white is-fullwidth is-medium">
                <span class="btn-return has-text-info has-text-weight-bold is-size-6 ml-1">Save
                    Draft</span></button>
        </div>
        <div class="column is-2-desktop" *ngIf="step===3">
            <button (click)="savePdf()" class="button is-outlined  has-background-info is-fullwidth is-medium">
                <span class="btn-return has-text-white has-text-weight-bold is-size-6 ml-1">Print
                    PDF</span></button>
        </div>
        <div class="column is-4-desktop" *ngIf="step===3">
            <button class="button is-outlined  has-background-info is-fullwidth is-medium" (click)="nextStep()">
                <span class="btn-return has-text-white has-text-weight-bold is-size-6 ml-1">Save and
                    Generate Schedule</span></button>
        </div>
    </div>
</div>
