<div
  class="
    column
    is-10-desktop is-10-tablet is-three-quarters-mobile is-pulled-left
    pl-2
    pr-4
    pt-0
  "
>
  <div
    class="section has-background-white pl-2"
    style="border-radius: 13px; padding-bottom: 60px"
  >
    <div class="columns is-mobile">
      <div class="px-2 pt-0" style="width: 75px">
        <div class="pt-0">
          <button class="button btn-profile is-rounded">
            <span
              class="has-text-centered has-text-weight-medium is-size-3"
              style="color: #4a9894"
              >NF</span
            >
          </button>
        </div>
        <div class="divider is-vertical is-info is-large-divider"></div>
        <div class="pt-0">
          <button class="button btn-profile is-rounded">
            <span
              class="has-text-centered has-text-weight-medium is-size-3"
              style="color: #4a9894"
              >NF</span
            >
          </button>
        </div>
      </div>
      <div
        class="
          column
          is-two-fifths-desktop is-two-fifths-tablet is-one-third-mobile
          px-2
          pt-0
          pb-0
        "
      >
        <span
          class="
            is-family-primary
            has-text-weight-medium has-text-left has-text-black-ter
            is-size-6
          "
          >Full Name:
        </span>
        <span
          class="
            is-family-primary
            has-text-weight-semibold has-text-left has-text-dark
            is-size-6
            pb-5
          "
          >Insert here
        </span>

        <span
          class="
            is-family-primary
            has-text-weight-semibold has-text-left has-text-info
            is-block is-size-6
          "
          >Father
        </span>
        <span
          class="
            is-family-primary
            has-text-weight-medium has-text-left has-text-black-ter
            is-size-6
          "
          >Family Number:
        </span>
        <span
          class="
            is-family-primary
            has-text-weight-semibold has-text-left has-text-dark
            is-size-6
            pb-5
          "
          >7001
        </span>
        <div>
          <span
            class="
              is-family-primary
              has-text-weight-medium has-text-left has-text-black-ter
              is-size-6
            "
            >Phone Number:
          </span>
          <span
            class="
              is-family-primary
              has-text-weight-semibold has-text-left has-text-dark
              is-size-6
              pb-5
            "
            >+961 01 345123
          </span>
        </div>
        <div>
          <span
            class="
              is-family-primary
              has-text-weight-medium has-text-left has-text-black-ter
              is-size-6
            "
            >Mobile Number:
          </span>
          <span
            class="
              is-family-primary
              has-text-weight-semibold has-text-left has-text-dark
              is-size-6
              pb-5
            "
            >+961 03 345123
          </span>
        </div>
        <div>
          <span
            class="
              is-family-primary
              has-text-weight-medium has-text-left has-text-black-ter
              is-size-6
            "
          >
            Email:
          </span>
          <span
            class="
              is-family-primary
              has-text-weight-semibold has-text-left has-text-dark
              is-size-6
              pb-5
            "
            >email@email.com
          </span>
          <div class="column is-two-fifths pl-0">
            <button
              class="
                button
                is-outlined
                has-background-info
                is-fullwidth is-normal
                mt-1
                mb-5
              "
            >
              <span
                class="
                  has-text-white
                  is-family-primary
                  has-text-weight-bold
                  is-size-6
                "
                id="next"
                >View Profile
              </span>
            </button>
          </div>
        </div>

        <span
          class="
            is-family-primary
            has-text-weight-medium has-text-left has-text-black-ter
            is-size-6
          "
          >Full Name:
        </span>
        <span
          class="
            is-family-primary
            has-text-weight-semibold has-text-left has-text-dark
            is-size-6
            pb-5
          "
          >Insert here
        </span>

        <span
          class="
            is-family-primary
            has-text-weight-semibold has-text-left has-text-info
            is-block is-size-6
          "
          >Mother
        </span>
        <span
          class="
            is-family-primary
            has-text-weight-medium has-text-left has-text-black-ter
            is-size-6
          "
          >Family Number:
        </span>
        <span
          class="
            is-family-primary
            has-text-weight-semibold has-text-left has-text-dark
            is-size-6
            pb-5
          "
          >7001
        </span>
        <div>
          <span
            class="
              is-family-primary
              has-text-weight-medium has-text-left has-text-black-ter
              is-size-6
            "
            >Phone Number:
          </span>
          <span
            class="
              is-family-primary
              has-text-weight-semibold has-text-left has-text-dark
              is-size-6
              pb-5
            "
            >+961 01 345123
          </span>
        </div>
        <div>
          <span
            class="
              is-family-primary
              has-text-weight-medium has-text-left has-text-black-ter
              is-size-6
            "
            >Mobile Number:
          </span>
          <span
            class="
              is-family-primary
              has-text-weight-semibold has-text-left has-text-dark
              is-size-6
              pb-5
            "
            >+961 03 345123
          </span>
        </div>
        <div>
          <span
            class="
              is-family-primary
              has-text-weight-medium has-text-left has-text-black-ter
              is-size-6
            "
          >
            Email:
          </span>
          <span
            class="
              is-family-primary
              has-text-weight-semibold has-text-left has-text-dark
              is-size-6
              pb-5
            "
            >email@email.com
          </span>

          <div class="column is-two-fifths-desktop is-two-fifths-tablet pl-0">
            <button
              class="
                button
                is-outlined
                has-background-info
                is-fullwidth is-normal
                mt-1
                mb-0
              "
            >
              <span
                class="
                  has-text-white
                  is-family-primary
                  has-text-weight-bold
                  is-size-6
                "
                id="next"
                >View Profile
              </span>
            </button>
          </div>
        </div>
      </div>
      <div class="px-2 pt-0" style="width: 75px">
        <div class="pt-0">
          <button class="button btn-profile is-rounded">
            <span
              class="has-text-centered has-text-weight-medium is-size-3"
              style="color: #4a9894"
              >NF</span
            >
          </button>
        </div>
        <div class="divider is-vertical is-info is-large-divider"></div>
        <div class="pt-0">
          <button class="button btn-profile is-rounded">
            <span
              class="has-text-centered has-text-weight-medium is-size-3"
              style="color: #4a9894"
              >NF</span
            >
          </button>
        </div>
      </div>
      <div
        class="
          column
          is-two-fifths-desktop is-two-fifths-tablet is-one-third-mobile
          px-2
          pt-0
          pb-0
        "
      >
        <span
          class="
            is-family-primary
            has-text-weight-medium has-text-left has-text-black-ter
            is-size-6
          "
          >Full Name:
        </span>
        <span
          class="
            is-family-primary
            has-text-weight-semibold has-text-left has-text-dark
            is-size-6
            pb-5
          "
          >Insert here
        </span>

        <span
          class="
            is-family-primary
            has-text-weight-semibold has-text-left has-text-info
            is-block is-size-6
          "
          >Brother
        </span>
        <span
          class="
            is-family-primary
            has-text-weight-medium has-text-left has-text-black-ter
            is-size-6
          "
          >Family Number:
        </span>
        <span
          class="
            is-family-primary
            has-text-weight-semibold has-text-left has-text-dark
            is-size-6
            pb-5
          "
          >7001
        </span>
        <div>
          <span
            class="
              is-family-primary
              has-text-weight-medium has-text-left has-text-black-ter
              is-size-6
            "
            >Phone Number:
          </span>
          <span
            class="
              is-family-primary
              has-text-weight-semibold has-text-left has-text-dark
              is-size-6
              pb-5
            "
            >+961 01 345123
          </span>
        </div>
        <div>
          <span
            class="
              is-family-primary
              has-text-weight-medium has-text-left has-text-black-ter
              is-size-6
            "
            >Mobile Number:
          </span>
          <span
            class="
              is-family-primary
              has-text-weight-semibold has-text-left has-text-dark
              is-size-6
              pb-5
            "
            >+961 03 345123
          </span>
        </div>
        <div>
          <span
            class="
              is-family-primary
              has-text-weight-medium has-text-left has-text-black-ter
              is-size-6
            "
          >
            Email:
          </span>
          <span
            class="
              is-family-primary
              has-text-weight-semibold has-text-left has-text-dark
              is-size-6
              pb-5
            "
            >email@email.com
          </span>

          <div class="column is-two-fifths-desktop is-two-fifths-tablet pl-0">
            <button
              class="
                button
                is-outlined
                has-background-info
                is-fullwidth is-normal
                mt-1
                mb-5
              "
            >
              <span
                class="
                  has-text-white
                  is-family-primary
                  has-text-weight-bold
                  is-size-6
                "
                id="next"
                >View Profile
              </span>
            </button>
          </div>
        </div>

        <span
          class="
            is-family-primary
            has-text-weight-medium has-text-left has-text-black-ter
            is-size-6
          "
          >Full Name:
        </span>
        <span
          class="
            is-family-primary
            has-text-weight-semibold has-text-left has-text-dark
            is-size-6
            pb-5
          "
          >Insert here
        </span>

        <span
          class="
            is-family-primary
            has-text-weight-semibold has-text-left has-text-info
            is-block is-size-6
          "
          >Sister
        </span>
        <span
          class="
            is-family-primary
            has-text-weight-medium has-text-left has-text-black-ter
            is-size-6
          "
          >Family Number:
        </span>
        <span
          class="
            is-family-primary
            has-text-weight-semibold has-text-left has-text-dark
            is-size-6
            pb-5
          "
          >7001
        </span>
        <div>
          <span
            class="
              is-family-primary
              has-text-weight-medium has-text-left has-text-black-ter
              is-size-6
            "
            >Phone Number:
          </span>
          <span
            class="
              is-family-primary
              has-text-weight-semibold has-text-left has-text-dark
              is-size-6
              pb-5
            "
            >+961 01 345123
          </span>
        </div>
        <div>
          <span
            class="
              is-family-primary
              has-text-weight-medium has-text-left has-text-black-ter
              is-size-6
            "
            >Mobile Number:
          </span>
          <span
            class="
              is-family-primary
              has-text-weight-semibold has-text-left has-text-dark
              is-size-6
              pb-5
            "
            >+961 03 345123
          </span>
        </div>
        <div>
          <span
            class="
              is-family-primary
              has-text-weight-medium has-text-left has-text-black-ter
              is-size-6
            "
          >
            Email:
          </span>
          <span
            class="
              is-family-primary
              has-text-weight-semibold has-text-left has-text-dark
              is-size-6
              pb-5
            "
            >email@email.com
          </span>

          <div class="column is-two-fifths-desktop is-two-fifths-tablet pl-0">
            <button
              class="
                button
                is-outlined
                has-background-info
                is-fullwidth is-normal
                mt-1
                mb-0
              "
            >
              <span
                class="
                  has-text-white
                  is-family-primary
                  has-text-weight-bold
                  is-size-6
                "
                id="next"
                >View Profile
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
