<div style="padding: 50px">
  <div style="display: flex; justify-content: center">
    <figure class="image is-128x128 mt-4" style="text-align: center">
      <img src="{{ logo }}" alt="" />
    </figure>
  </div>
  <h5
    class="is-family-primary has-text-weight-bold has-text-left is-spaced mb-3"
    style="color: #3f81c3"
  >
    Reset Password - {{ userType }}
  </h5>
  <p class="subtitle mt-0">
    Forgot your password? You can recover your Madrasatie Online username using
    the email address associated with your account.
  </p>
  <div class="field">
    <form [formGroup]="EmailForm">
      <p
        class="
          is-family-primary
          has-text-weight-semibold
          is-size-5
          has-text-left has-text-dark
        "
      >
        Email
      </p>
      <div class="control is-expanded">
        <input
          class="
            input
            is-normal is-family-primary
            has-text-weight-medium
            is-size-7
            py-5
          "
          type="text"
          formControlName="email"
          placeholder="Enter your Email Address"
        />
      </div>
      <div class="columns mt-3">
        <div class="column is-half">
          <button
            class="is-fullwidth"
            [disabled]="!EmailForm.valid"
            (click)="didClickResetPassword()"
            style="height: 40px"
            MADBtn
          >
            Reset Password
          </button>
        </div>
        <div class="column is-half">
          <button
            class="is-fullwidth"
            style="height: 40px"
            MADBtn
            [isWhite]="true"
            (click) = "returnToLogin()"
          >
            Return To Login
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
