<div class="columns is-multiline">
  <div
    class="column is-12-desktop is-12-tablet is-12-mobile is-pulled-left pl-2 pr-4 pt-0"
  >
    <div
      class="section is-large has-background-white px-5 py-5"
      style="border-radius: 13px; min-height: 80vh; height: 120vh"
    >
      <div class="columns mb-0">
        <div class="column is-half-tablet is-12-mobile px-0 pt-2">
          <div class="field">
            <label
              class="label is-family-primary has-text-weight-semibold is-size-6"
              data-config-id="text39"
              >Select Assessment
            </label>

            <div
              class="select is-normal is-fullwidth is-family-primary has-text-weight-medium is-size-7"
            >
              <select class="select">
                <option class="">Select Assessment</option>
                <option>With options</option>
              </select>
            </div>
          </div>
        </div>

        <div class="column is-half-tablet is-12-mobile px-2 pt-3"></div>
      </div>

      <div class="columns is-multiline py-5 mb-0">
        <div
          class="column is-4-desktop is-4-tablet is-4-widescreen is-8-mobile px-0"
        >
          <div class="field">
            <label
              class="label is-family-primary has-text-weight-semibold is-size-6 is-inline-block vertical-align"
              data-config-id="text40"
              >Start Date
            </label>
            <div class="field has-addons has-addons-right is-inline-block">
              <span class="control is-expanded has-icons-right">
                <input
                  class="input is-normal is-family-primary has-text-weight-medium is-size-7"
                  style="height: 40px"
                  type="date"
                  placeholder=""
                  required=""
              /></span>
            </div>
          </div>
        </div>

        <div
          class="column is-4-desktop is-4-tablet is-4-widescreen is-8-mobile px-2"
        >
          <div class="field">
            <label
              class="label is-family-primary has-text-weight-semibold is-size-6 is-inline-block vertical-align"
              data-config-id="text41"
              >End Date
            </label>
            <div class="field has-addons has-addons-right is-inline-block">
              <span class="control is-expanded has-icons-right">
                <input
                  class="input is-normal is-family-primary has-text-weight-medium is-size-7"
                  style="height: 40px"
                  type="date"
                  placeholder=""
                  required=""
              /></span>
            </div>
            <!--<p class="help "></p>-->
          </div>
        </div>

        <div
          class="column is-4-desktop is-4-tablet is-4-widescreen is-8-mobile px-2"
        >
          <div class="field">
            <label
              class="label is-family-primary has-text-weight-semibold is-size-6 is-inline-block vertical-align"
              data-config-id="text42"
              >Estimated Time
            </label>
            <span class="control is-expanded is-inline-block">
              <div
                class="select is-normal"
                style="border: solid 2px #e7e7ea; height: 40px"
              >
                <select class="has-background-white">
                  <option>12</option>
                  <option></option>
                </select>
              </div>
            </span>
            <label
              class="label is-family-primary has-text-weight-semibold is-size-6 is-inline-block vertical-align"
              data-config-id="text43"
              >mins
            </label>
            <p class="help"></p>
          </div>
        </div>
      </div>

      <div class="columns is-multiline pb-5 mb-0">
        <div class="column is-12-desktop is-8-touch">
          <label
            class="label is-family-primary has-text-weight-semibold is-size-6"
            data-config-id="text44"
            >Instruction
          </label>
        </div>
        <div class="column is-12-desktop is-8-touch">
          <div class="field">
            <div class="control">
              <textarea
                class="textarea input is-medium is-size-6"
                placeholder="Enter Instruction here"
              ></textarea>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-12 is-8-mobile px-0">
        <div class="field">
          <label
            class="label is-family-primary has-text-weight-semibold is-size-6 is-inline-block vertical-align"
            data-config-id="text45"
            >Full Mark
          </label>
          <div class="field has-addons has-addons-right is-inline-block">
            <span class="control is-expanded has-icons-right">
              <input
                class="input is-normal is-family-primary has-text-weight-medium is-size-7"
                style="height: 40px"
                type="text"
                placeholder=""
                required=""
            /></span>
          </div>

          <div class="column is-12 px-0 py-5">
            <div class="field">
              <label
                class="label is-family-primary has-text-weight-semibold is-size-6 is-inline-block vertical-align"
                style="width: 180px"
                data-config-id="text46"
                >Gamification Conditions
              </label>
              <span
                class="control is-expanded is-inline-block"
                style="width: 50%"
              >
                <div
                  class="select is-normal"
                  style="border: solid 2px #e7e7ea; height: 40px; width: 50%"
                >
                  <select class="has-background-white">
                    <option></option>
                    <option></option>
                  </select>
                </div>
              </span>
            </div>
          </div>
          <div class="column is-12 px-0 pb-5">
            <div class="field">
              <label
                class="label is-family-primary has-text-weight-semibold is-size-6 is-inline-block vertical-align"
                style="width: 176px"
                data-config-id="text47"
                >Gamification Points
              </label>
              <span
                class="control is-expanded is-inline-block"
                style="width: 50%"
              >
                <input
                  class="input is-normal has-background-white is-family-primary has-text-weight-medium is-size-7"
                  type="text"
                  placeholder=""
                  style="border: solid 2px #e7e7ea; height: 40px; width: 50%"
              /></span>
              <p class="help"></p>
            </div>
          </div>

          <div class="column is-12 is-pulled-right">
            <div class="field is-grouped is-grouped-right pb-2 px-2">
              <div class="control">
                <button
                  class="button is-outlined has-background-white is-fullwidth is-normal"
                  style=""
                >
                  <span
                    class="btn-return has-text-info has-text-weight-bold is-size-6 ml-1 px-4"
                    data-config-id="text37"
                    >Cancel</span
                  >
                </button>
              </div>

              <div class="control">
                <button
                  class="button is-outlined has-background-info is-fullwidth is-normal"
                  style=""
                >
                  <span
                    class="btn-return has-text-white has-text-weight-bold is-size-6 ml-1 px-5"
                    data-config-id="text38"
                    >Save</span
                  >
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
